<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8"/>
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/yhn7aob.css">
  </head>
  <body class="ltr font-body">
    <header class="w-full border-b-2">
      <div class="flex items-center justify-between flex-wrap p-4 w-full">
        <div class="flex items-center flex-shrink-0 text-secondary mr-6">
          <a href="/" class="font-semibold text-2xl">Shaun Parker</a>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-primary hover:text-primary hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <nav class="ml-auto block lg:flex lg:items-center lg:w-auto">
          <ul class="text-sm flex items-center lg:flex-grow">
            <li class="">
              <a href="/about" class="font-bold text-secondary hover:text-primary mr-4">
                About
              </a>
            </li>
            <li class="">
              <a href="/insights" class="font-bold text-secondary hover:text-primary mr-4">
                Insights
              </a>
            </li>
            {#<li class="block lg:inline-block">
              <a href="/blog" class="font-bold text-secondary hover:text-primary">
                Contact
              </a>
            </li>#}
            <li class="flex item-center ml-4">
              <a href="https://www.instagram.com/shaunpark3r/" style="background-image:url('/assets/icons/icon-instagram.svg');" class="mr-3 bg-cover h-6 w-6"></a>
              <a href="https://twitter.com/_shaunparker" style="background-image:url('/assets/icons/icon-twitter.svg');" class="mr-3 bg-cover h-6 w-6"></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
  </body>
</html>